<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mapper.AccountMapper">
    <insert id="getJoinRole" parameterType="java.util.Map">
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getJoinRole" parameterType="com.hp.model.Account" resultType="com.hp.model.Account">

    </select>
</mapper>
